<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="color: #0069d9">Card title</h5>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
            </div>
            <div class="col-lg-8 col-md-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                                <td>@fat</td>
                         </tr>
                        <tr>
                        
                            <td>@fat</td>
                        </tr>
                        <tr>
                                <td>@fat</td>
                        </tr>
                        <tr>
                                <td>@fat</td>
                        </tr>
                        <tr>
                                <td>@fat</td>
                        </tr>
                        <tr>
                                <td>@fat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>