<%= EventMgt.fullD %>,
<div class="row">
        <div class="col-lg-6 col-md-12">

          <div class="card" onclick="goDetail('1')">
            <div class="card-body">
              <h5 class="card-title" style="color: #0069d9">Card title</h5>
              <div class="row">
                <div class="col-4">
                  <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                </div>
                <div class="col-8">
                  <p class="card-text">HKBU Event Management System is a web-based system for department and student societies to
                    broadcast events and activities as well as registration.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: #0069d9">Card title</h5>
                <div class="row">
                  <div class="col-4">
                    <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                  </div>
                  <div class="col-8">
                    <p>HKBU Event Management System .</p>
                  </div>
                </div>
              </div>
            </div>

          
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="color: #0069d9">Card title</h5>
                 <div class="row">
                    <div class="col-4">
                      <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                    </div>
                    <div class="col-8">
                      <p>HKBU Event Management System is a web-based system for department and student societies to
                        broadcast events and activities as well as registration.</p>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="color: #0069d9">Card title</h5>
                    <div class="row">
                      <div class="col-4">
                        <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                      </div>
                      <div class="col-8">
                        <p>HKBU Event Management System is a web-based system for department and student societies to
                          broadcast events and activities as well as registration.</p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
 </div>

