<div class="row">
    <div class="col-lg-8 col-md-12">
            <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
                  <div class="row no-gutters">
                        <div class="col-lg-6 col-md-12">
                                <div class="card" >
                                        <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title" style="color: #0069d9">Card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    
                                        </div>
                                      </div>
                        </div>
                  <div class="col-lg-6 col-md-12">
                        <div class="card" >
                                <img class="card-img-top" src="https://briggo.com/wp-content/uploads/2016/03/bootstrap-logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title" style="color: #0069d9">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            
                                </div>
                              </div>
                  </div>   
                  </div>               
    </div>
    <div class="col-lg-4 col-md-12">
            <div class="form-group">
                    <label for="InputEventName">Event Name:</label>
                    <input type="text" class="form-control" id="InputEventName" placeholder="Enter Event Name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlOrgainzer">Orgainzer:</label>
                    <select class="form-control" id="exampleFormControlOrgainzer">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="InputStartData">Start Data:</label>
                    <input type="text" class="datepicker form-control" id="InputStartData" placeholder="Select Start Data"/>
                </div>
                <div class="form-group">
                        <label for="InputEndData">End Data:</label>
                        <input type="text" class="datepicker form-control" id="InputEndData" placeholder="Select End Data"/>
                    </div>
                <div class="form-group">
                    <label for="exampleFormControlVenue">Venue:</label>
                    <select class="form-control" id="exampleFormControlVenue">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheckHighlightedEvent">
                    <label class="form-check-label" for="defaultCheckHighlightedEvent">
                        Highlighted Event
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</div>